header{
    padding: 20px;
    background-color: rgb(201, 212, 224);
    color: rgb(68, 68, 68);
    text-align: center;
}

p{
    padding: 20px;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    margin: 25px;
    border-radius: 20px;
}

footer{
    text-align: center;
    position: sticky;
    margin-top: 25px;
}

img{
    margin: 10px;
    align-items: center
}